#quiz {
  font-family:Meiryo;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(198, 222, 60, 0.2); */
}

h4 {
  text-align: center;
  color: black;
  margin-top: 4px;
  margin-bottom: 0;
}

.withAnswer {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 5px;
  color: black;
  margin-top: 4px;
  margin-bottom: 0;
  /* background-color: beige; */
}


#question {
  font-family:Meiryo;
  font-weight:700;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
}

#options {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  /* float: left; */
}

button{
  font-family:Meiryo;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #88B6e0;
  color: black;
  border: 2px solid #469ae9;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d1e3f3;
}

#choiceButton{
  font-family:Meiryo;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #90e6d2;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#choiceButton:hover{
  background-color: #82dcac;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

input[type=text] {
  background-color: #d8d8d8;
  width: 340px;
  /* padding: 12px 20px; */
  padding-top: 20px;
  /* padding-bottom: 0px; */
  margin: 2px 0;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}


#multiCenterArea{
  width:340px;
  height:50px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow:hidden;
  /* border: 2px solid #1E824C;
  border-color: black; */
}

#showResultArea{
  /* display: inline-block; */
  float: left;
  width:60%;
  height:50px;
  padding-left:10px;
}

#nextButtonArea {
  /* display: inline-block; */
  float:right;
  width:30%;
  height:50px;
}



